.phone {
  position: relative;
  .ip-phone {
    position: absolute;
    right: 3%;
    top: -5rem;
    img {
      width: auto !important;
    }
    p {
      margin: 0;
      font-style: italic;
      font-weight: 100;
      span {
        color: #fff;
        border-bottom: 0.5px dotted #a6a6a6;
      }
    }
    .btn-link {
      padding: 10px 0 0 0;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      border-bottom: 0.5px dotted #a6a6a6;
      &:hover {
        text-decoration: none;
        color: #007bff;
      }
    }
    &::before {
      content: "";
      background-image: url(../images/line-phone.png);
      background-repeat: no-repeat;
      position: absolute;
      height: 12rem;
      width: 12rem;
      background-size: 85% 64%;
      left: -11rem;
      top: 0.8rem;
    }
  }
}

// voip
.voip {
  background-image: url(../images/voip-bg.png);
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  padding-bottom: 5rem;
  background-color: #f5f4f3;
  padding-top: 80px;
  margin-top: -20px;
  .line {
    width: 30%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 7.5%;
    right: 0;
  }
  img {
    width: 100%;
  }
  .voip-text {
    .title {
      position: relative;
    }
  }
}

// voip-end

// telefonia
.telefonia {
  background-image: url(../images/telefonia-bg.png);
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  padding-bottom: 7rem;
  padding-top: 80px;
  margin-top: -20px;
  .line {
    width: 5%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 14%;
    left: 0;
  }
  .title {
    width: 30%;
  }
  .tel-block {
    display: flex;
    justify-content: space-between;
    .tel-content {
      width: 18%;
      p {
        color: #000;
      }
      img {
        width: 6rem;
        margin-bottom: 1rem;
      }
    }
  }
  .advan-img {
    transition: all 5s ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: advan-animate;
    animation-direction: alternate;
  }
}

// telefonia-end

//advantages
.advantages {
  background-image: url(../images/voip-bg.png);
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  background-color: #f5f4f3;
  padding-top: 80px;
  margin-top: -80px;
  background-clip: content-box;
  .adventages-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    img {
      margin-right: 1.3rem;
      width: 5rem;
    }
    .adventages-text {
      font-size: 14px;
      .text-bold {
        font-weight: 600;
        color: #000;
      }
      ul {
        padding: 0;
        li {
          list-style-type: none;
          p {
            margin: 0;
            span {
              color: #000;
            }
          }
        }
      }
    }
  }
  .line {
    width: 5%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 11.5%;
    left: 0;
  }
}

//advantages-end

//rates
.rates {
  background-color: #f5f4f3;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  padding-bottom: 6rem;
  font-size: 14px;
  padding-top: 80px;
  margin-top: -20px;
  .slider-left-block {
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    font-size: 13px;
    border: 1px solid #cbcac9;
    h2 {
      font-weight: bolder;
    }
    button {
      border-radius: 2rem;
      padding: 0.5rem 2rem;
      background-color: #5581ff;
    }
  }
  .line {
    width: 5%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 13.5%;
    left: 0;
  }
}

//rates-end

@media only screen and(max-width:576px) {
  .line {
    display: none;
  }
  .telefonia {
    padding-top: 90px;
    background-image: none;
    background-color: #fff;
    .tel-block {
      flex-direction: column;
      .tel-content {
        width: auto;
      }
    }
  }
  .voip {
    padding-top: 90px;
    padding-bottom: 2.5rem;
    background-image: none;
    background-color: #fff;
    img {
      width: 35%;
    }
  }
  .advantages {
    padding-top: 90px;
    background-image: none;
    background-color: #fff;
    .adventages-content {
      padding-bottom: 2rem;
      img {
        width: 4rem;
      }
    }
  }
  .rates {
    display: none;
  }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #fff;
  }
  .voip {
    background-size: 100% 105% !important;
    background-color: #f5f4f3;
    padding-top: 4rem;
    img {
      width: 100%;
    }
  }
  .telefonia {
    background-size: 100% 105% !important;
    background-color: #fff;
    padding-top: 4rem;
    .title {
      width: auto !important;
    }
  }
  .advantages {
    background-size: 100% 105% !important;
    background-color: #f5f4f3;
    padding-top: 4rem;
    .row {
      padding-bottom: 5rem;
    }
  }
  .rates {
    display: none;
  }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px;
  }
  .rates-slider-mobile {
    background-color: #f5f4f3;
    margin-bottom: 20px !important;
    .slick-dots {
      background-color: #f5f4f3;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-slider {
    .slider-content {
      .slider-item {
        width: 50%;
      }
    }
  }
  .rates {
    display: none;
  }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px;
  }
}
@media only screen and (min-width: 1460px) and (max-width: 1920px) {
  .main-slider {
    .slider-content {
      .phone {
        .ip-phone {
          right: 20%;
          &::before {
            left: -4rem;
          }
        }
      }
    }
  }
  .rates {
    display: none;
  }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px;
  }
}
