p {
  color: #525252;
  font-size: 15px;
  margin: 0; }

li {
  list-style-type: none;
  color: #a1a2a3; }

@media only screen and (max-width: 576px) {
  h1 {
    font-size: larger; }
  h2 {
    font-size: larger; }
  .title {
    width: auto !important; } }

.btn-snow {
  border-radius: 2rem;
  background-color: #5581ff;
  padding: 0.5rem 2.5rem;
  position: relative;
  overflow: hidden; }
  .btn-snow::before {
    content: "";
    position: absolute;
    background-color: #5581ff;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s ease; }
  .btn-snow:hover::before {
    width: 100%; }

.btn-primary:hover {
  background-color: #0069d9 !important; }

.btn-white {
  border-radius: 2rem;
  background-color: #5581ff;
  padding: 0.5rem 2.5rem;
  position: relative;
  overflow: hidden; }

.main-slider {
  overflow: hidden; }
  .main-slider .slick-active .slider-text {
    transform: translateX(0) !important;
    transition: all 0.5s ease;
    margin-top: 2rem; }
    .main-slider .slick-active .slider-text h1 {
      margin-bottom: 1rem; }
    .main-slider .slick-active .slider-text p {
      margin-bottom: 2rem; }
  .main-slider .slick-active .slider-item {
    transform: translateX(0) !important;
    transition: all 0.8s ease; }
  .main-slider .slider-content {
    width: 100%;
    position: relative;
    padding-bottom: 4rem; }
    .main-slider .slider-content img {
      width: inherit; }
    .main-slider .slider-content .slider-text {
      position: absolute;
      z-index: 6;
      color: #fff;
      width: 20%;
      top: 15%;
      left: 20%;
      transform: translateX(-200%); }
      .main-slider .slider-content .slider-text p {
        color: #a1a2a3; }
    .main-slider .slider-content .slider-item {
      z-index: 5;
      position: absolute;
      width: 58%;
      bottom: 0;
      right: 10%;
      transform: translateX(100%); }
      .main-slider .slider-content .slider-item img {
        width: 100%; }
  .main-slider .slick-next {
    right: 2rem;
    z-index: 2;
    top: 35%;
    background-image: url(../images/next-slick.png);
    background-size: cover;
    width: 3rem;
    height: 3rem; }
    .main-slider .slick-next::before {
      content: ""; }
    .main-slider .slick-next:hover {
      opacity: 0.7; }
  .main-slider .slick-prev {
    left: 2rem;
    z-index: 2;
    top: 35%;
    background-image: url(../images/prev-slick.png);
    background-size: cover;
    width: 3rem;
    height: 3rem; }
    .main-slider .slick-prev::before {
      content: ""; }
    .main-slider .slick-prev:hover {
      opacity: 0.7; }

.cascade-slider_container .cascade-slider_slides .now .slider-body {
  display: block;
  opacity: 1;
  width: 590px; }
  .cascade-slider_container .cascade-slider_slides .now .slider-body ul {
    padding: 0; }
    .cascade-slider_container .cascade-slider_slides .now .slider-body ul li {
      margin-bottom: 0.5rem; }

.cascade-slider_container .cascade-slider_slides .cascade-slider_item {
  top: 56%; }

.cascade-slider_container .cascade-slider_slides .next {
  left: 34%;
  border: 1px solid #cbcac9;
  height: 15rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  .cascade-slider_container .cascade-slider_slides .next .slider-body {
    display: none;
    opacity: 0; }
  .cascade-slider_container .cascade-slider_slides .next h1 {
    font-size: 32px; }

.cascade-slider_container .cascade-slider_slides .prev {
  right: 10% !important;
  left: auto;
  border: 1px solid #cbcac9;
  height: 15rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  .cascade-slider_container .cascade-slider_slides .prev .slider-body {
    display: none;
    opacity: 0; }
  .cascade-slider_container .cascade-slider_slides .prev h1 {
    font-size: 32px; }

.cascade-slider_arrow-left {
  transition: 0.5s; }
  .cascade-slider_arrow-left:hover {
    filter: drop-shadow(0px 0px 5px #5581ff); }

.cascade-slider_arrow-right {
  transition: 0.5s; }
  .cascade-slider_arrow-right:hover {
    filter: drop-shadow(0px 0px 5px #5581ff); }

.rates-slider-mobile {
  display: none; }
  .rates-slider-mobile .slider-content {
    padding: 2rem; }
    .rates-slider-mobile .slider-content .slider-header img {
      display: inline; }

@media only screen and (max-width: 576px) {
  .main-slider .slick-slide {
    height: 360px !important; }
    .main-slider .slick-slide .slider-text {
      width: auto !important;
      left: 0 !important;
      padding: 1rem;
      text-align: center;
      top: 0; }
      .main-slider .slick-slide .slider-text p {
        display: none; }
    .main-slider .slick-slide .slider-item {
      bottom: auto; }
      .main-slider .slick-slide .slider-item .ip-phone {
        display: none; }
  .main-slider .slick-prev {
    left: .5rem; }
  .main-slider .slick-next {
    right: .5rem; }
  .cascade-slider_container {
    display: none; }
  .rates-slider-mobile {
    background-color: #f5f4f3;
    display: block;
    margin-bottom: 20px !important; }
    .rates-slider-mobile .slick-next {
      right: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/next-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5; }
      .rates-slider-mobile .slick-next::before {
        content: ""; }
      .rates-slider-mobile .slick-next:hover {
        opacity: 0.7; }
    .rates-slider-mobile .slick-prev {
      left: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/prev-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5; }
      .rates-slider-mobile .slick-prev::before {
        content: ""; }
      .rates-slider-mobile .slick-prev:hover {
        opacity: 0.7; }
    .rates-slider-mobile .slick-dots {
      background-color: #f5f4f3; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-slider .slider-text {
    width: 90% !important;
    left: 0 !important;
    padding: 0 2rem 0 4rem;
    text-align: center; }
    .main-slider .slider-text p {
      display: none; }
  .main-slider .slider-item {
    width: 60%; }
  .cascade-slider_container {
    display: none; }
  .rates-slider-mobile {
    display: block; }
    .rates-slider-mobile .slick-next {
      right: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/next-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5; }
      .rates-slider-mobile .slick-next::before {
        content: ""; }
      .rates-slider-mobile .slick-next:hover {
        opacity: 0.7; }
    .rates-slider-mobile .slick-prev {
      left: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/prev-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5; }
      .rates-slider-mobile .slick-prev::before {
        content: ""; }
      .rates-slider-mobile .slick-prev:hover {
        opacity: 0.7; } }

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-slider .slider-text {
    left: 10%;
    width: 50%; }
  .rates {
    background-color: #f5f4f3 !important; }
    .rates .cascade-slider_container {
      width: auto;
      display: block !important; }
      .rates .cascade-slider_container .prev {
        right: 7% !important; }
      .rates .cascade-slider_container .cascade-slider_arrow-left {
        left: -2rem; }
      .rates .cascade-slider_container .cascade-slider_arrow-right {
        right: -2rem; }
  .rates-slider-mobile {
    display: none; } }

.modal-snom .modal-dialog {
  max-width: 45%; }
  .modal-snom .modal-dialog .modal-content {
    padding: 2rem 3rem; }
    .modal-snom .modal-dialog .modal-content .modal-header {
      flex-direction: column;
      align-items: center;
      border-bottom: none; }
      .modal-snom .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        top: 1rem;
        right: 1.5rem; }
    .modal-snom .modal-dialog .modal-content .modal-body {
      font-weight: 600; }
      .modal-snom .modal-dialog .modal-content .modal-body input {
        width: 100%;
        height: 2.5rem;
        border-radius: 2rem;
        border: none;
        background-color: #f2f2f2;
        padding: 0.5rem 1rem;
        color: black !important;
        box-shadow: inset -2px 3px 8px 0.1px rgba(208, 208, 208, 0.5), 1px 1px 5px white;
        margin-bottom: 1rem; }
        .modal-snom .modal-dialog .modal-content .modal-body input:focus {
          outline: none; }
        .modal-snom .modal-dialog .modal-content .modal-body input::placeholder {
          color: black; }
      .modal-snom .modal-dialog .modal-content .modal-body textarea {
        width: 100%;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: #f2f2f2;
        border: none;
        box-shadow: inset -2px 3px 8px 0.1px rgba(208, 208, 208, 0.5), 1px 1px 5px white; }
        .modal-snom .modal-dialog .modal-content .modal-body textarea::placeholder {
          color: black; }
    .modal-snom .modal-dialog .modal-content .modal-footer {
      justify-content: center !important;
      border-top: none !important; }

@media only screen and (max-width: 576px) {
  .modal-snom .modal-dialog {
    max-width: 100% !important; }
    .modal-snom .modal-dialog .modal-content {
      padding: 1rem 1rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .modal-snom .modal-dialog {
    max-width: 70% !important; }
    .modal-snom .modal-dialog .modal-content {
      padding: 1rem 1rem; } }

footer {
  background-image: url(../images/footer-bg.png);
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff !important;
  padding: 240px 0 70px; }
  footer p {
    color: #fff; }
  footer .line {
    width: 12%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 42%;
    right: 0; }
  footer button {
    border-radius: 2rem !important;
    padding: 0.5rem 2rem !important;
    background-color: #5581ff !important; }
    footer button:hover {
      background-color: #0069d9 !important; }

@media only screen and (max-width: 576px) {
  footer {
    padding: 100px 0 50px; }
    footer img {
      width: 4.5rem; } }

header {
  position: fixed;
  width: 100%;
  z-index: 9;
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #3c3c3c;
  transition: all 1s ease; }
  header .logo-1 {
    padding: 0 1.5rem 0 1.5rem;
    border-right: 2px solid #3c3c3c; }
    header .logo-1 img {
      width: 1.8rem; }
  header .logo-2 {
    margin-left: 3rem; }
    header .logo-2 img {
      width: 7rem; }
  header .navigation ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: 5s; }
    header .navigation ul li::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 105%;
      height: 0px;
      background-color: #5581ff;
      transition: all 1s ease; }
    header .navigation ul li a {
      color: #fff;
      font-weight: 600; }
      header .navigation ul li a:hover {
        text-decoration: none;
        color: #5581ff; }
  header .call a {
    color: #fff; }
    header .call a:hover {
      text-decoration: none;
      color: #5581ff; }
  header .call h5 {
    font-weight: 100;
    margin: 0; }
  header .call .btn-snow {
    margin-left: 2rem;
    background-color: transparent;
    color: #fff; }

.active {
  background-color: #21262b;
  opacity: 0.9; }

.active-link {
  transition: 5s; }
  .active-link::before {
    content: "";
    width: 105% !important;
    height: 5px !important; }

.navigation-mobile {
  display: none;
  background-color: #5a5b61;
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
  padding-top: 1rem; }
  .navigation-mobile .header-logo {
    width: 5rem;
    margin-bottom: 0.5rem; }
  .navigation-mobile ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 3rem; }
    .navigation-mobile ul li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 5px;
      font-size: 11px; }
      .navigation-mobile ul li a {
        color: #fff;
        text-decoration: none; }

.active-link-mob {
  background-color: #333b59; }

@media only screen and (max-width: 576px) {
  header {
    display: none; }
  .navigation-mobile {
    display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  header .logo-2 {
    margin-left: 2rem; }
    header .logo-2 img {
      width: 4rem; }
  header .btn-snow {
    padding: .5rem 1rem; }
  header .call h5 {
    font-size: 9px; }
  .navigation-mobile {
    display: block; }
    .navigation-mobile ul li {
      padding: 0 2rem; }
  .voip {
    background-size: 100% 100% !important; } }

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  header .logo-2 {
    margin-left: 1rem; }
    header .logo-2 img {
      width: 4rem; }
  header .call {
    justify-content: space-between !important; }
    header .call h5 {
      font-size: 18px; }
    header .call .btn-snow {
      padding: 13px;
      font-size: 14px;
      margin-left: 0; } }

.phone {
  position: relative; }
  .phone .ip-phone {
    position: absolute;
    right: 3%;
    top: -5rem; }
    .phone .ip-phone img {
      width: auto !important; }
    .phone .ip-phone p {
      margin: 0;
      font-style: italic;
      font-weight: 100; }
      .phone .ip-phone p span {
        color: #fff;
        border-bottom: 0.5px dotted #a6a6a6; }
    .phone .ip-phone .btn-link {
      padding: 10px 0 0 0;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      border-bottom: 0.5px dotted #a6a6a6; }
      .phone .ip-phone .btn-link:hover {
        text-decoration: none;
        color: #007bff; }
    .phone .ip-phone::before {
      content: "";
      background-image: url(../images/line-phone.png);
      background-repeat: no-repeat;
      position: absolute;
      height: 12rem;
      width: 12rem;
      background-size: 85% 64%;
      left: -11rem;
      top: 0.8rem; }

.voip {
  background-image: url(../images/voip-bg.png);
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  padding-bottom: 5rem;
  background-color: #f5f4f3;
  padding-top: 80px;
  margin-top: -20px; }
  .voip .line {
    width: 30%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 7.5%;
    right: 0; }
  .voip img {
    width: 100%; }
  .voip .voip-text .title {
    position: relative; }

.telefonia {
  background-image: url(../images/telefonia-bg.png);
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  padding-bottom: 7rem;
  padding-top: 80px;
  margin-top: -20px; }
  .telefonia .line {
    width: 5%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 14%;
    left: 0; }
  .telefonia .title {
    width: 30%; }
  .telefonia .tel-block {
    display: flex;
    justify-content: space-between; }
    .telefonia .tel-block .tel-content {
      width: 18%; }
      .telefonia .tel-block .tel-content p {
        color: #000; }
      .telefonia .tel-block .tel-content img {
        width: 6rem;
        margin-bottom: 1rem; }
  .telefonia .advan-img {
    transition: all 5s ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: advan-animate;
    animation-direction: alternate; }

.advantages {
  background-image: url(../images/voip-bg.png);
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  background-color: #f5f4f3;
  padding-top: 80px;
  margin-top: -80px;
  background-clip: content-box; }
  .advantages .adventages-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    padding-bottom: 4rem; }
    .advantages .adventages-content img {
      margin-right: 1.3rem;
      width: 5rem; }
    .advantages .adventages-content .adventages-text {
      font-size: 14px; }
      .advantages .adventages-content .adventages-text .text-bold {
        font-weight: 600;
        color: #000; }
      .advantages .adventages-content .adventages-text ul {
        padding: 0; }
        .advantages .adventages-content .adventages-text ul li {
          list-style-type: none; }
          .advantages .adventages-content .adventages-text ul li p {
            margin: 0; }
            .advantages .adventages-content .adventages-text ul li p span {
              color: #000; }
  .advantages .line {
    width: 5%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 11.5%;
    left: 0; }

.rates {
  background-color: #f5f4f3;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  padding-bottom: 6rem;
  font-size: 14px;
  padding-top: 80px;
  margin-top: -20px; }
  .rates .slider-left-block {
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    font-size: 13px;
    border: 1px solid #cbcac9; }
    .rates .slider-left-block h2 {
      font-weight: bolder; }
    .rates .slider-left-block button {
      border-radius: 2rem;
      padding: 0.5rem 2rem;
      background-color: #5581ff; }
  .rates .line {
    width: 5%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 13.5%;
    left: 0; }

@media only screen and (max-width: 576px) {
  .line {
    display: none; }
  .telefonia {
    padding-top: 90px;
    background-image: none;
    background-color: #fff; }
    .telefonia .tel-block {
      flex-direction: column; }
      .telefonia .tel-block .tel-content {
        width: auto; }
  .voip {
    padding-top: 90px;
    padding-bottom: 2.5rem;
    background-image: none;
    background-color: #fff; }
    .voip img {
      width: 35%; }
  .advantages {
    padding-top: 90px;
    background-image: none;
    background-color: #fff; }
    .advantages .adventages-content {
      padding-bottom: 2rem; }
      .advantages .adventages-content img {
        width: 4rem; }
  .rates {
    display: none; }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #fff; }
  .voip {
    background-size: 100% 105% !important;
    background-color: #f5f4f3;
    padding-top: 4rem; }
    .voip img {
      width: 100%; }
  .telefonia {
    background-size: 100% 105% !important;
    background-color: #fff;
    padding-top: 4rem; }
    .telefonia .title {
      width: auto !important; }
  .advantages {
    background-size: 100% 105% !important;
    background-color: #f5f4f3;
    padding-top: 4rem; }
    .advantages .row {
      padding-bottom: 5rem; }
  .rates {
    display: none; }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px; }
  .rates-slider-mobile {
    background-color: #f5f4f3;
    margin-bottom: 20px !important; }
    .rates-slider-mobile .slick-dots {
      background-color: #f5f4f3; } }

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-slider .slider-content .slider-item {
    width: 50%; }
  .rates {
    display: none; }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px; } }

@media only screen and (min-width: 1460px) and (max-width: 1920px) {
  .main-slider .slider-content .phone .ip-phone {
    right: 20%; }
    .main-slider .slider-content .phone .ip-phone::before {
      left: -4rem; }
  .rates {
    display: none; }
  .rates-mobile {
    padding-top: 100px;
    margin-top: -55px; } }
