.modal-snom .modal-dialog {
  max-width: 45%; }
  .modal-snom .modal-dialog .modal-content {
    padding: 2rem 3rem; }
    .modal-snom .modal-dialog .modal-content .modal-header {
      flex-direction: column;
      align-items: center;
      border-bottom: none; }
      .modal-snom .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        top: 1rem;
        right: 1.5rem; }
    .modal-snom .modal-dialog .modal-content .modal-body {
      font-weight: 600; }
      .modal-snom .modal-dialog .modal-content .modal-body input {
        width: 100%;
        height: 2.5rem;
        border-radius: 2rem;
        border: none;
        background-color: #f2f2f2;
        padding: 0.5rem 1rem;
        color: black !important;
        box-shadow: inset -2px 3px 8px 0.1px rgba(208, 208, 208, 0.5), 1px 1px 5px white;
        margin-bottom: 1rem; }
        .modal-snom .modal-dialog .modal-content .modal-body input:focus {
          outline: none; }
        .modal-snom .modal-dialog .modal-content .modal-body input::placeholder {
          color: black; }
      .modal-snom .modal-dialog .modal-content .modal-body textarea {
        width: 100%;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: #f2f2f2;
        border: none;
        box-shadow: inset -2px 3px 8px 0.1px rgba(208, 208, 208, 0.5), 1px 1px 5px white; }
        .modal-snom .modal-dialog .modal-content .modal-body textarea::placeholder {
          color: black; }
    .modal-snom .modal-dialog .modal-content .modal-footer {
      justify-content: center !important;
      border-top: none !important; }

@media only screen and (max-width: 576px) {
  .modal-snom .modal-dialog {
    max-width: 100% !important; }
    .modal-snom .modal-dialog .modal-content {
      padding: 1rem 1rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .modal-snom .modal-dialog {
    max-width: 70% !important; }
    .modal-snom .modal-dialog .modal-content {
      padding: 1rem 1rem; } }
