p {
  color: #525252;
  font-size: 15px;
  margin: 0; }

li {
  list-style-type: none;
  color: #a1a2a3; }

@media only screen and (max-width: 576px) {
  h1 {
    font-size: larger; }
  h2 {
    font-size: larger; }
  .title {
    width: auto !important; } }
