footer {
  background-image: url(../images/footer-bg.png);
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff !important;
  padding: 240px 0 70px;
  p{
      color: #fff;
  }
  .line {
    width: 12%;
    height: 2px;
    background-color: #5581ff;
    position: absolute;
    top: 42%;
    right: 0;
  }
  button {
    border-radius: 2rem !important;
    padding: 0.5rem 2rem !important;
    background-color: #5581ff !important;
    &:hover{
      background-color: #0069d9 !important;
    }
  }
}

@media only screen and (max-width:576px){
  footer{
    padding: 100px 0 50px;
    img{
      width: 4.5rem;
    }
  }
}