header {
  position: fixed;
  width: 100%;
  z-index: 9;
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #3c3c3c;
  transition: all 1s ease;
  .logo-1 {
    padding: 0 1.5rem 0 1.5rem;
    border-right: 2px solid #3c3c3c;
    img {
      width: 1.8rem;
    }
  }
  .logo-2 {
    margin-left: 3rem;
    img {
      width: 7rem;
    }
  }
  .navigation {
    ul {
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        position: relative;
        transition: 5s;
        &::before {
          content: "";
          position: absolute;
          bottom: -2px;
          width: 105%;
          height: 0px;
          background-color: #5581ff;
          transition: all 1s ease;
        }
        a {
          color: #fff;
          font-weight: 600;
          &:hover {
            text-decoration: none;
            color: #5581ff;
          }
        }
      }
    }
  }
  .call {
    a {
      color: #fff;
      &:hover{
        text-decoration: none;
        color: #5581ff;
      }
    }

    h5 {
      font-weight: 100;
      margin: 0;
    }
    .btn-snow {
      margin-left: 2rem;
      background-color: transparent;
      color: #fff;
    }
  }
}
.active {
  background-color: #21262b;
  opacity: 0.9;
}
.active-link {
  transition: 5s;
  &::before {
    content: "";
    width: 105% !important;
    height: 5px !important;
  }
}

.navigation-mobile {
  display: none;
  background-color: #5a5b61;
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
  padding-top: 1rem;
  .header-logo {
    width: 5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 5px;
      font-size: 11px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.active-link-mob {
  background-color: #333b59;
}

@media only screen and (max-width: 576px) {
  header {
    display: none;
  }
  .navigation-mobile {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  header {
    .logo-2{
      margin-left: 2rem;
      img{
        width: 4rem;
      }
    }
    .btn-snow{
      padding: .5rem 1rem;
    }
    .call{
      h5{
        font-size: 9px; 
      }
    }
  }
  .navigation-mobile {
    display: block;
    ul {
      li {
        padding: 0 2rem;
      }
    }
  }
  .voip {
    background-size: 100% 100% !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  header {
    .logo-2 {
      margin-left: 1rem;
      img {
        width: 4rem;
      }
    }

    .call {
      justify-content: space-between !important;
      h5 {
        font-size: 18px;
      }
      .btn-snow {
        padding: 13px;
        font-size: 14px;
        margin-left: 0;
      }
    }
  }
}
